.my-container__season__episodes {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    height: auto; 
    gap: 10px; 
}
  
.my-container__season__episodes__episode{
    display: flex;
    flex-direction: column;
    flex: 1 0 30%;
    gap: 10px;   
    max-width: 425px; 
}
